.home1 {
    h1 {
        color: white;
    }

    margin-bottom: 200px;

    .songList {
        display: flex;
        margin: 23px auto;
        width: 70%;
        max-width: 100%;
        border-radius: 12px;
        padding: 34px;
        background-size: cover;
        background-position: center;

        .item {
            width: 700px;
            border-style: double;
            display: flex;
            color: rgb(0, 0, 0);
            margin: 12px 0;
            justify-content: space-between;
            align-items: center;
            border-radius: 34px;
            background: black;
            /* Add the blur effect here */

            .info {
                display: flex;
                align-items: center;

                img {
                    max-width: 100px;
                    margin-right: 16px;
                    border-radius: 8px;
                }

                .details {
                    h4 {
                        color: rgb(255, 255, 255);
                    }
                }
            }

            .actions1 {
                .icon1 {
                    display: flex;
                    align-items: center;
                    color: black;

                    i {
                        font-size: 24px;
                        cursor: pointer;
                        margin-right: 12px;
                        border-radius: 50%;
                        /* Add border-radius to make it circular */
                        background-color: white;
                        /* Set background color */
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 40px;
                        /* Set height and width for the circle */
                        width: 40px;

                        &:hover {
                            background-color: lightgray;
                            /* Change background color on hover */
                        }
                    }
                }
            }

            // Media query for mobile devices
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }


}

.songList {
    &.Adele {
        background-image: url('../images/Song/adele/adele.jpg');
    }

    &.Jason{
        background-image: url('../images/Song/Jason Derulo/Jason.jpg');
    }

    &.Selena {
        background-image: url('../images/Song/Selena Gomez/Selena Gomez.jpg');
    }

    &.Dj {
        background-image: url('../images/Song/Dj snake/DJ-Snake.jpg');
    }

    &.Alan {
        background-image: url('../images/Song/alan/alan.jpg');
    }

    &.Maroon {
        background-image: url('../images/Song//maroon/1.jpg');


    }

    &.Balvin {
        background-image: url('../images/Song/balvin/1.jpg');

        h1 {
            color: black;
        }
    }

    &.Calvin-harris {
        background-image: url('../images/Song/calvin/1.jpg');
    }
 &.Atif-aslam {
     background-image: url('../images/Song/Atif Aslam/Atif aslam.jpg');
 }
 &.Arijit-singh {
     background-image: url('../images/Song/Arijit Singh/Arijit Singh.jpg');
 }

      


}