.home-sidebar-open {
    margin-left: 18%;
    /* Adjust the margin to the width of the sidebar */
    width: 82%;
    /* Adjust the width to fill the remaining space */
    position: fixed;

}

.search-sidebar-open{
    overflow-y: hidden;
}

.container.no-scroll {
    overflow: hidden;
}
.container{
    position: static;
    overflow-y: hidden;
 
}


.home {
    top: 60px;
    width: 80%;
    top: 0;
    left: 1%;
    overflow-y: auto;
    z-index: 1;
    padding: 20px;
    position: relative;
  

        .album {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            /* 4 columns by default */
    
            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
                /* 2 columns on tablets */
            }
    
            @media (max-width: 600px) {
                grid-template-columns: 1fr;
                /* 1 column on mobile devices */
            }
    
            .artist {
                margin: 10px;
                text-align: center;
                color: white;
                text-decoration: none;
               
                  
                
                img {
                        max-width: 100%;
                        height: 200px;
                        max-height: 100%;
                        border-radius: 8px;
                
                        /* Optional: Add border-radius for rounded corners */
                    }
                
                    
            }
        }
}





.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}
